
.application .header {
	background: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 1024px)
{
	.application .header {
    	height: 108px;
    	padding-top: 8px;
    	padding-bottom: 8px;
	}
	.application .lang-list li{
		visibility:visible;
		-webkit-transform:translateY(0px);
		transform:translateY(0px);
		opacity:1
	}
	.application .lang-list li.is-active{
		color: #c8a964;
	}
	.application .lang-list ul{
    	margin-left: 150px;
    	margin-top: 11px;
	}

}

.menu-opened .application .header {
    background: none;
}
.application .header__links {
    font-size: 16px;
}
.header span.word1 {
    font-size: 16px;
}
.application .lang-list {
    font-size: 14px;
}
