@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?27tzi7');
  src:  url('fonts/icomoon.eot?27tzi7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?27tzi7') format('truetype'),
    url('fonts/icomoon.woff?27tzi7') format('woff'),
    url('fonts/icomoon.svg?27tzi7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-snowman:before {
  content: "\e93c";
}
.icon-avalanche:before {
  content: "\e93a";
}
.icon-bars:before {
  content: "\e93b";
}
.icon-cross-country-15:before {
  content: "\e93d";
}
.icon-cross-country-16:before {
  content: "\e93e";
}
.icon-cross-country-19:before {
  content: "\e93f";
}
.icon-discotheque:before {
  content: "\e940";
}
.icon-dormitories:before {
  content: "\e941";
}
.icon-food-store:before {
  content: "\e942";
}
.icon-freeride:before {
  content: "\e943";
}
.icon-game:before {
  content: "\e944";
}
.icon-ice-skating:before {
  content: "\e945";
}
.icon-night-skiing:before {
  content: "\e946";
}
.icon-paragliding:before {
  content: "\e947";
}
.icon-restaurant:before {
  content: "\e948";
}
.icon-route:before {
  content: "\e949";
}
.icon-seal-skin-hiking:before {
  content: "\e94a";
}
.icon-ski-schools:before {
  content: "\e94b";
}
.icon-sledge-track:before {
  content: "\e94c";
}
.icon-snow-tubing:before {
  content: "\e94d";
}
.icon-snowpark:before {
  content: "\e94e";
}
.icon-snowshoeing-34:before {
  content: "\e94f";
}
.icon-snowshoeing-36:before {
  content: "\e950";
}
.icon-winter-hiking-10:before {
  content: "\e951";
}
.icon-winter-hiking-18:before {
  content: "\e952";
}
.icon-chair-lift:before {
  content: "\e939";
}
.icon-surface-lift:before {
  content: "\e937";
}
.icon-aerial-tram:before {
  content: "\e938";
}
.icon-webcam:before {
  content: "\e936";
}
.icon-phone:before {
  content: "\e933";
}
.icon-load:before {
  content: "\e930";
}
.icon-pool:before {
  content: "\e935";
}
.icon-social-linkedin:before {
  content: "\e934";
}
.icon-person:before {
  content: "\e931";
}
.icon-social-facebook:before {
  content: "\e932";
}
.icon-air-conditioner:before {
  content: "\e929";
}
.icon-coffe-machine:before {
  content: "\e92a";
}
.icon-dishwasher:before {
  content: "\e92b";
}
.icon-kitchen:before {
  content: "\e92c";
}
.icon-tv:before {
  content: "\e92d";
}
.icon-washing-machine:before {
  content: "\e92e";
}
.icon-wi-fi:before {
  content: "\e92f";
}
.icon-people:before {
  content: "\e928";
}
.icon-email:before {
  content: "\e916";
}
.icon-chat:before {
  content: "\e91a";
}
.icon-food:before {
  content: "\e91b";
}
.icon-money:before {
  content: "\e91c";
}
.icon-star:before {
  content: "\e91d";
}
.icon-time:before {
  content: "\e91e";
}
.icon-check:before {
  content: "\e917";
}
.icon-credit-card:before {
  content: "\e91f";
}
.icon-cube:before {
  content: "\e918";
}
.icon-spa:before {
  content: "\e920";
}
.icon-tree:before {
  content: "\e919";
}
.icon-location:before {
  content: "\e914";
}
.icon-family:before {
  content: "\e915";
}
.icon-bath:before {
  content: "\e921";
}
.icon-bed:before {
  content: "\e922";
}
.icon-bedroom:before {
  content: "\e923";
}
.icon-shop:before {
  content: "\e924";
}
.icon-ski:before {
  content: "\e925";
}
.icon-toy:before {
  content: "\e926";
}
.icon-wine:before {
  content: "\e927";
}
.icon-arrow-circle-down:before {
  content: "\e900";
}
.icon-arrow-circle-left:before {
  content: "\e901";
}
.icon-arrow-circle-right:before {
  content: "\e902";
}
.icon-arrow-circle-up:before {
  content: "\e903";
}
.icon-arrow-simple-down:before {
  content: "\e904";
}
.icon-arrow-simple-left:before {
  content: "\e905";
}
.icon-arrow-simple-right:before {
  content: "\e906";
}
.icon-arrow-simple-up:before {
  content: "\e907";
}
.icon-arrow-small-down:before {
  content: "\e908";
}
.icon-arrow-small-left:before {
  content: "\e909";
}
.icon-arrow-small-right:before {
  content: "\e90a";
}
.icon-arrow-small-up:before {
  content: "\e90b";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-social-facebook-2:before {
  content: "\e90e";
}
.icon-social-googleplus:before {
  content: "\e90f";
}
.icon-social-instagram:before {
  content: "\e910";
}
.icon-social-pinterest:before {
  content: "\e911";
}
.icon-social-twitter:before {
  content: "\e912";
}
.icon-social-youtube:before {
  content: "\e913";
}
